<h1>Hello Angular!</h1>

<!-- <ul>
  <li *ngFor="let item of items; let index = index">
  {{index + 1}} <strong>{{item}}</strong>
  </li>
</ul> -->

<ul style="list-style: none">
  <li *ngFor="let object of objects; let index = index">
    <p>
      {{ object.title }}
      <strong>{{ object.author }}</strong>
    </p>
    <ul style="list-style: none">
      <li *ngFor="let comment of object.comments">
        <p>
          <strong>{{ comment.name }}</strong>
          {{ comment.text }}
        </p>
      </li>
    </ul>
  </li>
</ul>
