.wrap {
  padding-top: 1rem;
  width: 500px;
  margin: 0 auto;
}

hr {
  margin: 0.5rem 0;
  border: solid 0.05rem #ccc;
}

.box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
