<div class="container">
  <h1>Angular services</h1>
  <hr />

  <div class="card">
    <h2>App Counter global:    {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.increase()">+</button>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
  </div>

  <div class="card">
    <h2>App Counter local:    {{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.increase()">+</button>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
  </div>

  <hr />
  <app-counter></app-counter>

</div>
