div {
  display: inline-block;

  button {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: salmon;
    border: none;
    outline: none;
    // margin-right: 1rem;


    &.active {
      background: greenyellow;
    }
  }
}
